@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Space Mono", monospace;
    text-transform: capitalize;
    box-sizing: border-box;
}

html {
    @apply h-full;
}

body {
    @apply bg-primary flex justify-center items-center h-full;
}
